<!-- Generated template for the PostcardComponent component -->
<ion-icon [ngStyle]="{'margin-left': width/2 + 15 + 'px'}" class="rotate spin-icon" name="md-redo"></ion-icon>     
<div class="spacer"></div>
<ion-card (click)="addPicture()" [ngStyle]="{'width': width + 'px'}" class="front-up visible">
    <img src="assets/image.png" alt="Add Image">
    <p>ADD IMAGE</p>
</ion-card>
<ion-card class="card back invisible"></ion-card>
<div class="pick-side">
    <span class="active">FRONT</span>
    <span>BACK</span>
</div>
<div class="add-to-cart">
    <div (click)="onCart = !onCart" [hidden]="onCart" class="initial">
        <button outline ion-button icon-end>
            ADD TO CART
            <ion-icon name="cart"></ion-icon>            
        </button>
    </div>
    <div (click)="onCart = !onCart" [hidden]="!onCart" class="later">
        <button class="first-column" ion-button>
            <p>START A NEW CARD</p>
        </button>
        <button class="second-column" ion-button icon-right>
            <p>CONTINUE TO CHECKOUT</p>
            <ion-icon name="arrow-forward"></ion-icon>                
        </button>
    </div>
</div>